src/main/resources/wsdl/loanEligibility.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.javatechie.com/spring/soap/api/loanEligibility"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.javatechie.com/spring/soap/api/loanEligibility"
	targetNamespace="http://www.javatechie.com/spring/soap/api/loanEligibility">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.javatechie.com/spring/soap/api/loanEligibility">
			<xsd:element name="CustomerRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerName" type="xsd:string" />
						<xsd:element name="age" type="xsd:int" />
						<xsd:element name="yearlyIncome" type="xsd:long" />
						<xsd:element name="cibilScore" type="xsd:int" />
						<xsd:element name="employmentMode" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Acknowledgement">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="isEligible" type="xsd:boolean" />
						<xsd:element name="approvedAmount" type="xsd:long" />
						<xsd:element maxOccurs="unbounded"
							name="CriteriaMismatch" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CustomerRequest">
		<wsdl:part element="tns:CustomerRequest"
			name="CustomerRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoanEligibilityindicator">
		<wsdl:operation name="Customer">
			<wsdl:input message="tns:CustomerRequest"
				name="CustomerRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoanEligibilityindicatorSoap11"
		type="tns:LoanEligibilityindicator">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Customer">
			<soap:operation soapAction="" />
			<wsdl:input name="CustomerRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoanEligibilityindicatorService">
		<wsdl:port binding="tns:LoanEligibilityindicatorSoap11"
			name="LoanEligibilityindicatorSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>